<h1>P2</h1>

<form #myForm (subimit)="postBill(myForm)">

  <div>
    <label for="customer">Customer: </label>
    <input type="text" name="customer" id="customer" #customer [(ngModel)]="newBill.customer">
  </div>

  <div>
    <label for="paymentMethod">Payment Method: </label>
    <input type="text" name="paymentMethod" id="paymentMethod" #paymentMethod [(ngModel)]="newBill.paymentMethod">
  </div>

  <div>
    <label for="product">Product: </label>
    <input type="text" name="product" id="product" #product [(ngModel)]="newBill.product">
  </div>

  <div>
    <label for="amount">Amount: </label>
    <input type="text" name="amount" id="amount" #amount [(ngModel)]="newBill.amount">
  </div>

  <input type="submit" value="SAVE">

</form>